@use "./function.scss" as *;


.button{
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 9px;
}

.button-outline-dark{
    border: 1px solid #4FC3F7;
    color: white;
    background-color: #1A1A1A;
}

.button-outline-light{
    border: 2px solid #484E53;
    color: #484E53;
    font-weight: 500;
}

.card{
    border: 1px solid #2B2B2B;
    width: toRem(250);
    padding: toRem(16);
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
    font-family: var(--poppins);
}
.card-dark{
    background-color: #1C1C1C;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    .card-title{
        color: #fff;
        font-size: 15px;
    }
    .card-descriptions{
        color: #E1E1E1;
        font-size: 14px;
    }
}

.card-light{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ffffff;
    .card-title{
        color: #484E53;
        font-weight: 600;
    }
    .card-descriptions{
        color: #1C1E53;
    }
}


.experiece-card{
    padding: toRem(16);
    width: toRem(800);
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    min-height: toRem(180);
    font-family: var(--poppins);
    border-radius: 4px;
}
.company-name-text{
    color: blue;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--poppins);
}

.experience-card-dark{
    background-color: #1C1C1C;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    .experiece-card-heading{
        color: #fff;;
        font-size: toRem(16);
    }
    .role-description-ul{
        color: #E1E1E1;
        margin-left: -16px;
        font-size: toRem(14);
    }
}
.work-duration{
    color: #6c737d;
}

.experience-card-light{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    .experience-card-heading{
        color: #484E53;
        font-size: toRem(16);
    }
}